<section class = 'box'>
  <a href = '#' class = 'image featured'><img src = '/images/spot.png' alt = '' /></a>
  <header>
    <h3>This is Your Space</h3>
  </header>
  <p>Come and have a complimentary shake while we show you everything Primal Fitness has to offer. Making working out as fun as going out. Join now and pay no membership fees until May. In the meantime,registration is done at our offices while we work with our partners to implement an online registration and payment processing database. </p>
  <!-- <footer>
    <a href = '#' class = 'button alt'>Magna sed taciti</a>
  </footer> -->
</section>
<section class = 'box'>
  <header>
    <h3>Exercise and Diet Regiments for Best Results</h3>
  </header>
  <p>When it comes to weight management, good nutrition is vital. Primal Fitness gives all members access to their own free personal nutrition program to achieve health objectives with daily meal plans, tracking, and community support. Welcome to the PRIMAL FITNESS Challenge.</p>
  <ul class = 'divided'>
    {%- for post in site.posts %}
    <li><a href = '{{ post.url }}'>{{ post.title }}</a></li>
    {%- endfor %}
  </ul>
  <!-- <footer>
    <a href = '#' class = 'button alt'>Ipsum consequat</a>
  </footer> -->
</section>
