<section class = 'box'>
  <a href = '{{ post.url }}' class = 'image featured'><img src = '/images/{{ post.featured_image }}' alt = '' /></a>
  <header>
    <h3>{{ post.title }}</h3>
    <!-- <p>Posted 45 minutes ago</p> -->
  </header>
  <p>{{ post.content | strip_html | truncatewords 50 }}</p>
  <footer>
    <ul class = 'actions'>
      <li><a href = '{{ post.url }}' class = 'button icon fa-file-text'>Continue Reading</a></li>
      <!-- <li><a href = '#' class = 'button alt icon fa-comment'>33 comments</a></li> -->
    </ul>
  </footer>
</section>
