// @todo 
// clean up this file

.container {
	margin: 0 auto;
	max-width: 100%;
	padding-left: 2rem;
	padding-right: 2rem;
}

@media screen and (min-width: 1680px) {	
	.container {
		width: 70em;
	}
}

// section, article {
// 	margin-bottom: 2.5em;
// }

section > :last-child, section:last-child, article > :last-child, article:last-child {
	margin-bottom: 0;
}

header {
	margin: 0 0 1.5em 0;
}

header > p {
	display: block;
	font-style: italic;
	margin: 0.5em 0 0 0;
	padding-bottom: 0.5em;
}

header.major {
	position: relative;
	text-align: center;
	border-top: solid 1px #ccc;
	top: 1em;
	margin: 0 0 3em 0;
}

header.major h2 {
	background: var(--white);
	position: relative;
	top: -0.65em;
	display: inline;
	margin: 0;
	padding: 1rem;
	box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.15);
	border-radius: 0.25rem;
}

footer {
	margin: 2.25em 0 0 0;
}

.box {
	background: var(--white);
	border-bottom: solid 1px #ccc;
	padding: 2.75em 1.75em 2.75em 1.75em;
}

.box .image.featured {
	position: relative;
	width: auto;
	left: 1.75em;
	top: 1.75em;
	margin: -4.5em 0 4.25em -3.5em;
}

.box.post header {
	padding-top: 1em;
	margin: 0 0 2em 0;
}

.box.post h2 {
	font-size: 2.5em;
	letter-spacing: -0.015em;
}

.box.post header > p {
	margin-top: 1.25em;
	font-size: 1.25em;
}

.box footer ul.actions {
	margin-bottom: 0;
}

button,
.button {
	-webkit-appearance: none;
	display: inline-block;
	text-decoration: none;
	cursor: pointer;
	border: 0;
	border-radius: 5px;
	background: #d52349;
	color: var(--white) !important;
	font-weight: 500;
	outline: 0;
	font-size: 1.1em;
	padding: 0.65em 1.5em 0.65em 1.5em;
	text-align: center;
	transition: background-color .25s ease-in-out;
}

button:hover,
.button:hover {
	background: #e53359;
}

button:active,
.button:active {
	background: #c51349;
}

button.alt,
.button.alt {
	background: var(--dark);
}

button.alt:hover,
.button.alt:hover {
	background: #353132;
}

button.alt:active,
.button.alt:active {
	background: #151112;
}

button.icon:before,
.button.icon:before {
	opacity: 0.35;
	position: relative;
	top: 0.05em;
	margin-right: 0.75em;
}

button.large,
.button.large {
	font-size: 1.5em;
	padding: 0.75em 1.5em 0.75em 1.5em;
}

.image {
	display: inline-block;
	outline: 0;
}

.image img {
	display: block;
	width: 100%;
}

.image.centered {
	display: block;
	margin: 0 0 2em 0;
}

.image.centered img {
	margin: 0 auto;
	width: auto;
}

.image.featured {
	display: block;
	width: 100%;
	margin: 0 0 2em 0;
}

.image.left {
	float: left;
	margin: 0 2em 2em 0;
}

ul.actions {
	list-style: none;
	padding-left: 0;
}

ul.actions li {
	display: inline-block;
	margin-left: 1em;
	padding-left: 0;
}

ul.actions li:first-child {
	margin-left: 0;
}

.links {
	list-style: none;
	padding-left: 0;
}

.links li {
	display: inline-block;
	border-left: solid 1px rgba(255, 255, 255, 0.05);
	padding: 0 0 0 1em;
	margin: 0 0 0 1em;
}

.links li:first-child {
	border-left: 0;
	padding-left: 0;
	margin-left: 0;
}

.contact ul {
	list-style: none;
	padding-left: 0;
}

.contact ul li {
	position: relative;
	border-top: solid 1px #ddd;
	padding: 1.3em 0 1.3em 7em;
}

.contact ul li h3 {
	position: absolute;
	left: 0;
	top: 1.3em;
	font-size: 1.1em;
}

.contact ul li p {
	margin: 0;
}

.contact ul li:first-child {
	padding-top: 0;
	border-top: 0;
}

.contact ul li:first-child h3 {
	top: 0;
}

.dates {
	list-style: none;
	padding-left: 0;
}

.dates li {
	position: relative;
	border-top: solid 1px #ddd;
	padding: 1.3em 0 1.3em 6.75em;
}

.dates .date {
	display: block;
	position: absolute;
	left: 0;
	top: 1.3em;
	background-color: #d52349;
	height: 3.5em;
	text-align: center;
	color: var(--white);
	line-height: 1em;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	padding: 0.5em 0.75em 0 1em;
}

.dates .date:after {
	content: '';
	position: absolute;
	bottom: 0;
	right: -1.2em;
	border-left: solid 1.25em #d52349;
	border-top: solid 1.8em transparent;
	border-bottom: solid 1.8em transparent;
}

.dates .date strong {
	display: block;
	font-size: 1.75em;
	padding-top: 0.15em;
}

.dates h3 {
	font-size: 1.1em;
}

.dates p {
	margin: 0;
}

.dates li:first-child {
	border-top: 0;
	padding-top: 0;
}

.dates li:first-child .date {
	top: 0;
}

ul.divided {
	list-style: none;
	padding-left: 0;
}

ul.divided li {
	border-top: solid 1px #ddd;
	padding: 1em 0 1em 0;
}

ul.divided li:first-child {
	border-top: 0;
	padding-top: 0;
}

.social {
	list-style: none;
	padding-left: 0;
	overflow: hidden;
	cursor: default;
	margin: 0 0 1.5rem 0;
}

.social {
	li {
		display: inline-block;
		padding-left: 0;
		margin-left: 0.75em;
		&::first-child {
			margin-left: 0;
		}
	}
}

.social li a {
	display: inline-grid;
	width: 2rem;
	height: 2rem;
	align-items: center;
	text-align: center;
	border-radius: 5px;
	background: #888;
	transition: opacity .25s ease-in-out;
	&::before {
		color: var(--white);
		font-size: 1em;
		line-height: 1.5em;
	}
	&[class*='fa-']:hover {
		opacity: 0.8;
	}
	&.fa-facebook {
		background: #3c5a98;
	}
	&.fa-twitter {
		background: #2daae4;
	}
	
	&.fa-dribbble {
		background: #c4376b;
	}
	
	&.fa-linkedin {
		background: #006599;
	}
	
	&.fa-tumblr {
		background: #2b4661;
	}
}

.icon {
	position: relative;
	text-decoration: none;
	&::before {
		-moz-osx-font-smoothing: grayscale;
		-webkit-font-smoothing: antialiased;
		font-family: FontAwesome;
		font-style: normal;
		font-weight: normal;
		text-transform: none !important;
	}
	> .label {
		display: none;
	}
	&.featured {
		position: relative;
		display: inline-block;
		background-color: #d52349;
		width: 9em;
		padding: 1.75em 0 0.75em 0;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		margin: 0 0 4.5em 0;
		cursor: default;
	}
	
	&.featured:before {
		font-size: 4.5em;
		line-height: 1em;
		color: var(--white);
	}
	
	&.featured:after {
		content: '';
		position: absolute;
		bottom: -1.95em;
		left: 0;
		border-top: solid 2em #d52349;
		border-left: solid 4.5em transparent;
		border-right: solid 4.5em transparent;
	}
	
	&.featured.alt {
		background-color: var(--dark);
	}
	
	&.featured.alt:after {
		border-top-color: var(--dark);
	}
	
	&.featured.alt2 {
		background-color: #827a7c;
	}
	
	&.featured.alt2:after {
		border-top-color: #827a7c;
	}
}

.wrap {
  &_min {
		max-width: 60rem;
		margin-left: auto;
		margin-right: auto;
	}
	> section {
		margin-bottom: 0;
	}
}

#header {
	position: relative;
	background: var(--white);
	border-bottom: solid 1px #ccc;
	padding: 5em 0 4em 0;
	text-align: center;
	h1 {
		color: var(--dark);
		font-size: 2.5rem;
		letter-spacing: -0.035rem;
		line-height: 1;
	}
}

#nav {
	margin: 2.5em 0 0 0;
}

#nav > ul {
	margin: 0;
}

#nav > ul > li {
	display: inline-block;
	font-style: italic;
	margin: 0 0.35em 0 0.35em;
}

#nav > ul > li > ul {
	display: none;
}

#nav > ul > li > a {
	border-radius: 5px;
	color: #5d5d5d;
	text-decoration: none;
	padding: 0.6em 1.2em 0.6em 1.2em;
	transition: background-color .25s ease-in-out;
	outline: 0;
}

#nav > ul > li:hover > a /*#nav > ul > li.active > a*/ {
	background: #f3f3f3;
}
/*
#nav > ul > li.current > a {
	background: #d52349;
	color: var(--white) !important;
	font-weight: 500;
}
*/
.dropotron {
	border-radius: 5px;
	background-color: var(--dark);
	background-color: rgba(34, 30, 31, 0.98);
	padding: 1.25em 1.5em 1.25em 1.5em;
	font-style: italic;
	min-width: 13em;
	box-shadow: 0px 8px 15px 0px rgba(0, 0, 0, 0.5);
	text-align: left;
	margin-top: -1.25em;
	margin-left: -1px;
	list-style: none;
}

.dropotron a, .dropotron span {
	color: #aaa;
	text-decoration: none;
	transition: color .25s ease-in-out;
}

.dropotron li {
	padding: 0.25em 0 0.25em 0;
}

.dropotron li:hover > a, .dropotron li:hover > span {
	color: var(--white);
}

.dropotron.level-0 {
	margin-top: 2em;
}

.dropotron.level-0:before {
	content: '';
	display: block;
	position: absolute;
	left: 50%;
	margin-left: -10px;
	top: -9px;
	border-left: solid 10px transparent;
	border-right: solid 10px transparent;
	border-bottom: solid 10px var(--dark);
	border-bottom-color: rgba(34, 30, 31, 0.98);
}

.banner {
	background: #CCE8F4 url(/images/pic01.jpg);
	background-position: center center;
	background-size: auto 100%;
	background-repeat: no-repeat;
	text-align: center;
	position: relative;
	padding: 8em 0;
	margin: 4em 0 0 0;
	&_header {
		background-color: rgba(34, 30, 31, 0.98);
		display: inline-block;
		padding: 2.5em 5em;
		border-radius: 5px;
	}
	
	&_title {
		color: var(--white);
		font-size: 2.5em;
		margin: 0 0 0.65em 0;
	}
	
	&_text {
		color: #d52349;
		padding: 0;
		font-style: normal;
		margin: 0;
		font-size: 1.5em;
	}
}

#intro {
	text-align: center;
	overflow: hidden;
}

#intro section {
	margin: 3em 0;
	padding: 2.5em 0;
}

#intro h2 {
	font-size: 1.75em;
}

#intro p {
	margin: 0;
}

#intro .middle {
	position: relative;
	z-index: 1;
}

#intro .middle:before {
	content: '';
	width: 32px;
	height: 100%;
	position: absolute;
	left: -24px;
	top: 0;
	display: block;
	z-index: -1;
	box-shadow: 32px 0 0 0 var(--white), 0 -32px 0 0 var(--white), 0 32px 0 0 var(--white), 32px 32px 0 0 var(--white), 32px -32px 0 0 var(--white), 0 0 32px 0 rgba(0, 0, 0, 0.15);
}

#intro .middle:after {
	content: '';
	width: 32px;
	height: 100%;
	position: absolute;
	right: -24px;
	top: 0;
	display: block;
	z-index: -1;
	box-shadow: -32px 0 0 0 var(--white), 0 -32px 0 0 var(--white), 0 32px 0 0 var(--white), -32px 32px 0 0 var(--white), -32px -32px 0 0 var(--white), 0 0 32px 0 rgba(0, 0, 0, 0.15);
}

#intro .button {
	min-width: 12em;
}

#intro footer {
	margin: 0;
}

#main {
	position: relative;
	background: #f7f7f7;
	padding: 4em 0 4em 0;
	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		background-size: 100% 100%;
		z-index: 0;
		opacity: 0.1;
	}
}

.major h2 {
	background: #f7f7f7;
}

#footer {
	position: relative;
	color: #c5c4c4;
	padding: 4em 0;
	a {
		color: inherit;
	}
	p {
		padding: 0;
	}
	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		background-size: 100% 100%;
		z-index: 0;
		opacity: 0.5;
	}
	h2, h3, h4, h5, h6, strong, b {
		color: var(--white);
	}
}

#footer .contact ul li, #footer .dates li, #footer ul.divided li {
	border-top-color: rgba(255, 255, 255, 0.05);
}

#footer header {
	margin: 0 0 3em 0;
}

#footer header h2 {
	font-size: 1.75em;
}

.copyright {
	text-align: center;
	margin: 3em 0 2em 0;
	.links {
		display: inline-block;
		background: rgba(255, 255, 255, 0.05);
		border-radius: 5px;
		margin: 0;
		padding: 0.85em 2.25em 0.85em 2.25em;
	}
}


@media screen and (max-width: 1280px) {
	header.major {
		margin: 0.75em 0 2.5em 0;
	}
	
	.social li {
		margin: 0 0 0.25em 0.75em;
	}
	
	#header {
		padding: 3rem 0;
	}

	.banner {
		padding: 6rem 0;
		margin: 3rem 0 0 0;
	}
	
	#intro {
		padding: 0;
		section {
			padding: 1em 2em;
		}
		.middle:before {
			left: -12px;
		}
		.middle:after {
			right: -12px;
		}
	}
	
	#main {
		padding: 30px 0;
	}
	
	#footer {
		padding: 3em 0;
		&::before {
			height: 2.5em;
		}
		header {
			margin: 0 0 1.5em 0;
		}
		header h2 {
			font-size: 1.25em;
		}
	}
	.copyright {
		margin: 0;
	}	
}

#navPanel, #titleBar {
	display: none;
}

@media screen and (max-width: 980px) {
	.box footer ul.actions li {
		margin: 1em 0 0 0;
		display: block;
	}
	
	.box footer ul.actions li .button {
		width: 100%;
	}
	
	.box footer ul.actions li:first-child {
		margin-top: 0;
	}
	
	#header {
		padding: 3.5em 0 3em 0;
	}
	
	#nav {
		display: none;
	}
	
	#intro {
		padding: 3rem 0 0 0;
		section {
			position: relative;
			border-top: solid 1px #dfdfdf;
			margin: 0;
			padding: 40px 0 0 0;
		}
		section.first {
			border-top: 0;
			padding-top: 0;
		}
		section p {
			margin: 0;
		}
		.middle {
			&::before,
			&::after {
				display: none;
			}
		}
		footer {
			padding: 3em 0 0 0;
			ul.actions {
				margin-bottom: 0;
			}
		}
	}

	#main {
		padding: 40px 0;
	}
	
	.copyright .links {
		display: block;
	}
	
	.wrap,
	#titlebar {
		-moz-backface-visibility: hidden;
		-webkit-backface-visibility: hidden;
		-ms-backface-visibility: hidden;
		backface-visibility: hidden;
	}

	.wrap {
		transition: transform 0.5s ease;
		padding-bottom: 1px;
	}
	
	#titleBar {
		transition: transform 0.5s ease;
		display: block;
		height: 44px;
		left: 0;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 10001;
		background: none;
	}
	
	#titleBar .toggle {
		width: 80px;
		height: 60px;
	}
	
	#titleBar .toggle:before {
		font-family: FontAwesome;
		text-decoration: none;
		font-style: normal;
		font-weight: normal;
		content: '\f0c9';
		display: block;
		position: absolute;
		left: 10px;
		top: 10px;
		width: 50px;
		height: 40px;
		line-height: 40px;
		font-size: 18px;
		color: var(--white);
		text-align: center;
		background: rgba(150, 150, 150, 0.75);
		border-radius: 5px;
	}
	
	#titleBar .toggle:active:before {
		background-color: #969696;
	}
	
	#navPanel {
		-moz-backface-visibility: hidden;
		-webkit-backface-visibility: hidden;
		-ms-backface-visibility: hidden;
		backface-visibility: hidden;
		transform: translateX(-275px);
		transition: transform 0.5s ease;
		display: block;
		height: 100%;
		left: 0;
		overflow-y: auto;
		position: fixed;
		top: 0;
		width: 275px;
		z-index: 10002;
		color: #858484;
		box-shadow: inset -3px 0px 5px 0px rgba(0, 0, 0, 0.35);
	}
	
	#navPanel .link {
		display: block;
		color: #888;
		text-decoration: none;
		height: 44px;
		line-height: 44px;
		border-top: solid 1px rgba(255, 255, 255, 0.05);
		padding: 0 1em 0 1em;
		font-style: italic;
	}
	
	#navPanel .link:first-child {
		border-top: 0;
	}
	
	#navPanel .indent-1 {
		display: inline-block;
		width: 1em;
	}
	
	#navPanel .indent-2 {
		display: inline-block;
		width: 2em;
	}
	
	#navPanel .indent-3 {
		display: inline-block;
		width: 3em;
	}
	
	#navPanel .indent-4 {
		display: inline-block;
		width: 4em;
	}
	
	#navPanel .indent-5 {
		display: inline-block;
		width: 5em;
	}
	
	#navPanel .depth-0 {
		color: var(--white);
	}

}

@media screen and (max-width: 736px) {

	h2, h3, h4, h5, h6 {
		font-size: 1.25em;
	}

	button.large,
	.button.large {
		font-size: 1.1em;
		padding: 0.65em 1.5em 0.65em 1.5em;
	}
	
	ul.actions li {
		margin: 1em 0 0 0;
		display: block;
	}
	
	ul.actions li .button {
		width: 100%;
	}
	
	ul.actions li:first-child {
		margin-top: 0;
	}
	
	section, article {
		margin-bottom: 20px;
	}
	
	header {
		margin: 0 0 1em 0;
	}
	
	footer {
		margin: 2em 0 0 0;
	}
	
	.box {
		padding: 25px 15px 20px 15px;
	}
	
	.box .image.featured {
		left: 15px;
		top: 15px;
		margin: -40px 0 40px -30px;
	}
	
	.box.post header {
		padding-top: 0;
		margin: 0 0 1em 0;
	}
	
	.box.post h2 {
		font-size: 1.5em;
		line-height: 1.5em;
	}
	
	.box.post header > p {
		margin-top: 0;
		font-size: 1em;
	}
	
	ul.divided li {
		padding: 0.5em 0 0.5em 0;
	}
	
	.contact ul li {
		padding: 0.8em 0 0.8em 7em;
	}
	
	.contact ul li h3 {
		top: 0.8em;
	}
	
	.dates li {
		padding-left: 6em;
	}
	
	.dates h3 {
		margin: 0 0 0.5em 0;
	}
	
	.links li {
		display: block;
		padding: 0.25em 0 0 0;
		margin: 0.25em 0 0 0;
		border-left: 0;
	}
	
	.links li:first-child {
		padding-top: 0;
		margin-top: 0;
	}
	
	.social li {
		margin: 0 0.5em 0.75em 0;
	}
	
	&.featured {
		width: 8em;
		margin: 0 0 3em 0;
		&::after {
			border-left: solid 4em transparent;
			border-right: solid 4em transparent;
		}
	}
	
	#header {
		text-align: center;
		padding: 2em 0;
		h1 {
			color: var(--dark);
			font-size: 1.75em;
			letter-spacing: -0.035em;
		}
	}

	#intro {
		padding: 2em 0 0 0;
		section {
			padding: 40px 0 0 0;
			margin: 20px 0 0 0;
		}
		h2 {
			font-size: 1.25em;
		}
	}

	.banner {
		padding: 6em 0;
		margin: 2em 0 0 0;
		&_header {
			padding: 1.5em 1em 1.5em 1em;
			display: block;
			border-radius: 0;
		}
		&_title {
			font-size: 1.5em;
			line-height: 1.5em;
			margin: 0 0 0.25em 0;
		}
		&_text {
			font-size: 1.2em;
		}
	}
	
	#main {
		padding: 20px 0;
	}
	
	#footer {
		padding: 40px 0 20px 0;
	}
}
